@font-face {
    font-family: Zombie;
    src: url('ZOMBIE.TTF') format('truetype');
}
@font-face {
    font-family: Hellodark;
    src: url('HellodarkFree.otf') format('opentype');
}
body {
    background: url("bgTijolos.jpg");    
    min-width: 940px;
}
header {
    width: 100%;
    min-width: 700px;
    position: relative;
    margin: 0 auto;
}
header h1 {
    font-family: 'Zombie', sans-serif;
    font-size: 100px;
    color: rgb(165, 16, 16);
    text-align: center;
    margin-top: 50px;
}
.descricao {
    margin: 50px auto;
    display: block;
}
.descricao h2 {
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
    color: rgb(165, 16, 16);
    font-family: 'Zombie', sans-serif;
    width: 100%;
    min-width: 940px;
    background-color: rgba(0, 0, 0, 0.603);
    padding: 15px 0;
}
.imgZombies {
    margin: 0 auto;
    text-align: center;
}
.decisoes img {
    width: 350px;
    height: 450px;
}
.decisoes {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
}
.button {
    position: relative;
    margin: 50px auto;
    padding: 15px 0;
    display: block;
    text-align: center;
}
button:hover {
    font-size: 55px;
    color: red;
}
button {
    background-color: black;
    border: solid rgb(165, 16, 16) 5px;
    border-radius: 25%;
    font-family: 'Hellodark', sans-serif;
    color: rgb(165, 16, 16);
    font-size: 40px;
    text-decoration: none;
    padding: 0 15px;
}
footer {
    text-align: center;
    background: black;
    padding: 5px 0px 5px 0px;
    width: 100%;
    position: fixed;
    bottom: 0;
}
.copyright {
    color: #ffffff;
    font-size: 13px;
}